<%= link_to 'Log in', new_session_path %>

<hr>

<h1>Sign up</h1>

<%= form_with url: webauthn_credential_creation_options_path, method: :get, data: { controller: 'signup', action: 'ajax:success->signup#createCredential' } do |form| %>
  <%= label_tag 'User ID' %>
  <%= text_field_tag 'uid', '', data: { target: 'signup.uid' } %>
  <%= form.submit %>
<% end %>
